<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenidos {{ title }}!
  </h1>
</div>  

<app-user-profile [name]="user" 
                  [role]="role"
                  (logout)="onLogout($event)"
                  >
</app-user-profile>

<h2>Counter Sample</h2>
<app-counter [(value)]="valor1" (valueChange)="valorCambio1($event)"></app-counter>
<app-counter [(value)]="valor2" (valueChange)="valorCambio2($event)"></app-counter>

<span>Valor 1:{{ valor1 }} </span>
<span>Valor 2:{{ valor2 }} </span>
<span>Suma:{{ suma }} === {{ valor1 + valor2 }} </span>

<router-outlet></router-outlet>
