<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 appResalta>
    Bienvenidos {{ title }}!
  </h1>
</div>  

<app-user-profile [name]="user" 
                  [role]="role"
                  (logout)="onLogout($event)"
                  >
</app-user-profile>

<h2>Counter Sample</h2>
<app-counter [(value)]="valor1" (valueChange)="valorCambio1($event)"></app-counter>
<app-counter [(value)]="valor2" (valueChange)="valorCambio2($event)"></app-counter>

<span appResalta>Valor 1:{{ valor1 }} </span>
<span>Valor 2:{{ valor2 }} </span>
<span>Suma:{{ suma }} === {{ valor1 + valor2 }} </span>


<hr/>
Pipes y monedas:
<ul>
  <li>{{ m1 | currency:'EUR' }}</li>
  <li>{{ m2 | currency     }}</li>
  <li>{{ m3 | currency:'USD' }}</li>
  <li>{{ 3.14 | currency:'USD' }}</li>
</ul>

<p> Se evaluo a falso la condición.</p>

<hr/>
<app-list-city></app-list-city>

<hr/>
<h1>Lista de lugares</h1>
<app-place-list></app-place-list>

<router-outlet></router-outlet>
