.user-profile {
    // border: 1px solid #ff0000;
    padding: 12px 27px;
}
.user {
    color: #666666;
    font-weight: bold;
}

.role {
    font-style: italic;
    color: #0000aa;
}

a {
    font-weight: bold;
}
